<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>FunctionalTest</td><td>GroupingPractice.sampleMethod()[pri:0, instance:com.testngex.GroupingPractice@8317c52]<br/></td></tr>
<tr><td>smokeTest</td><td>GroupingPractice.sampleMethod()[pri:0, instance:com.testngex.GroupingPractice@8317c52]<br/></td></tr>
</table>
