<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9fd99">  <td>22/01/23 23:43:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupingPractice.sampleMethod()[pri:0, instance:com.testngex.GroupingPractice@8317c52]">sampleMethod</td> 
  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnnotationsExample.methodRepeatMethod()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">methodRepeatMethod</td> 
  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsExample.methodBeforeClass()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&gt;&gt;methodBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>-36</td> <td title="&gt;&gt;AnnotationsExample.methodBeforeSuit()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&gt;&gt;methodBeforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>-28</td> <td>&nbsp;</td><td title="&gt;&gt;AnnotationsExample.methodBeforeTest()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&gt;&gt;methodBeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsExample.methodBeforeMethod()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&gt;&gt;methodBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsExample.methodAfterMethod()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&lt;&lt;methodAfterMethod</td> 
<td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsExample.methodAfterMethod()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&lt;&lt;methodAfterMethod</td> 
<td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsExample.methodBeforeMethod()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&gt;&gt;methodBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>153</td> <td title="&lt;&lt;AnnotationsExample.methodAfterSuite()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&lt;&lt;methodAfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsExample.methodAfterClass()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&lt;&lt;methodAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>36</td> <td>&nbsp;</td><td title="&lt;&lt;AnnotationsExample.methodAfterTest()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&lt;&lt;methodAfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsExample.methodBeforeMethod()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&gt;&gt;methodBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsExample.methodAfterMethod()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">&lt;&lt;methodAfterMethod</td> 
<td>&nbsp;</td>  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnnotationsExample.methodName()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">methodName</td> 
  <td>main@686989583</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>22/01/23 23:43:05</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnnotationsExample.methodName1()[pri:0, instance:com.testngex.AnnotationsExample@2bfc268b]">methodName1</td> 
  <td>main@686989583</td>   <td></td> </tr>
</table>
