<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsExample.methodBeforeClass()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&gt;&gt;methodBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsExample.methodAfterMethod()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&lt;&lt;methodAfterMethod</td> 
<td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>153</td> <td title="&lt;&lt;AnnotationsExample.methodAfterSuite()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&lt;&lt;methodAfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnnotationsExample.methodRepeatMethod()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">methodRepeatMethod</td> 
  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsExample.methodBeforeMethod()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&gt;&gt;methodBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsExample.methodAfterMethod()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&lt;&lt;methodAfterMethod</td> 
<td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>-26</td> <td title="&gt;&gt;AnnotationsExample.methodBeforeSuit()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&gt;&gt;methodBeforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsExample.methodAfterClass()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&lt;&lt;methodAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>-18</td> <td>&nbsp;</td><td title="&gt;&gt;AnnotationsExample.methodBeforeTest()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&gt;&gt;methodBeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AnnotationsExample.methodAfterMethod()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&lt;&lt;methodAfterMethod</td> 
<td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsExample.methodBeforeMethod()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&gt;&gt;methodBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnnotationsExample.methodName()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">methodName</td> 
  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AnnotationsExample.methodBeforeMethod()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&gt;&gt;methodBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AnnotationsExample.methodName1()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">methodName1</td> 
  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>22/01/07 16:37:40</td>   <td>50</td> <td>&nbsp;</td><td title="&lt;&lt;AnnotationsExample.methodAfterTest()[pri:0, instance:com.testngex.AnnotationsExample@c333c60]">&lt;&lt;methodAfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
</table>
